<div class="container-fluid">
    <div class="row" style="height: 200px; background-color: maroon;">
        <!-- <div class="caption "> -->
        <!-- <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="assets/images/home/home1.jpg">
                    </div>
                    <div class="col">

                    </div>
                </div>
            </div> -->
        <!-- </div> -->
    </div>
</div>

<div class="container">
    <div class="row  justify-content-center mt-5 mb-5 checkout">
        <div class="col-12 col-md-6 col-xl-4 left">
            <!-- <img src="assets/images/home/home1.jpg" width="100%" height="600px"> -->
            <div class="container-checkout">
                <div class="mySlides">
                    <div class="numbertext">1 / 6</div>
                    <img src="https://www.w3schools.com/howto/img_woods_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 6</div>
                    <img src="https://www.w3schools.com/howto/img_5terre_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">3 / 6</div>
                    <img src="https://www.w3schools.com/howto/img_mountains_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 6</div>
                    <img src="https://www.w3schools.com/howto/img_lights_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">5 / 6</div>
                    <img src="https://www.w3schools.com/howto/img_nature_wide.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">6 / 6</div>
                    <img src="https://www.w3schools.com/howto/img_snow_wide.jpg" style="width:100%">
                </div>

                <a class="prev" (click)="plusSlides(-1)">
                    <i class="bi bi-chevron-left"></i>
                </a>
                <a class="next" (click)="plusSlides(1)">
                    <i class="bi bi-chevron-right"></i>
                </a>

                <!-- <div class="caption-container">
                    <p id="caption"></p>
                </div> -->

                <div class="row g-1 mt-3">
                    <div class="col">
                        <img class="demo cursor" src="https://www.w3schools.com/howto/img_woods.jpg" style="width:100%"
                            (click)="currentSlide(1)" alt="The Woods">
                    </div>
                    <div class="col">
                        <img class="demo cursor" src="https://www.w3schools.com/howto/img_5terre.jpg" style="width:100%"
                            (click)="currentSlide(2)" alt="Cinque Terre">
                    </div>
                    <div class="col">
                        <img class="demo cursor" src="https://www.w3schools.com/howto/img_mountains.jpg"
                            style="width:100%" (click)="currentSlide(3)" alt="Mountains and fjords">
                    </div>
                    <div class="col">
                        <img class="demo cursor" src="https://www.w3schools.com/howto/img_lights.jpg" style="width:100%"
                            (click)="currentSlide(4)" alt="Northern Lights">
                    </div>
                    <div class="col">
                        <img class="demo cursor" src="https://www.w3schools.com/howto/img_nature.jpg" style="width:100%"
                            (click)="currentSlide(5)" alt="Nature and sunrise">
                    </div>
                    <div class="col">
                        <img class="demo cursor" src="https://www.w3schools.com/howto/img_snow.jpg" style="width:100%"
                            (click)="currentSlide(6)" alt="Snowy Mountains">
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <p *ngIf="product">{{product.desc}}</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-4 right">
            <div class="product-dtl">
                <h3>{{product.name}}</h3>
                <p class="sku">SKU:{{product.sku}}</p>
                <p class="price">₹{{product.price}}</p>
            </div>
            <!-- <div class="select__product-color">
                <p>COLORS</p>
                <div class="d-flex ">
                    <div class="select__product-color-div">
                        <span class="select__product-red-color"></span>
                    </div>
                    <div class="select__product-color-div">
                        <span class="select__product-green-color"></span>
                    </div>
                    <div class="select__product-color-div">
                        <span class="select__product-blue-color"></span>
                    </div>
                    <div class="select__product-color-div">
                        <span class="select__product-fuchsia-color"></span>
                    </div>
                </div>
            </div> -->
            <div class="select__product-size">
                <p>SIZES</p>
                <div class="d-flex ">
                    <div class="select__product-size-div" (click)="selectProductSize('XS', 0)"> XS </div>
                    <div class="select__product-size-div" (click)="selectProductSize('S', 1)"> S </div>
                    <div class="select__product-size-div" (click)="selectProductSize('M', 2)"> M </div>
                    <div class="select__product-size-div" (click)="selectProductSize('L', 3)"> L </div>
                    <div class="select__product-size-div" (click)="selectProductSize('XL', 4)"> XL </div>
                    <div class="select__product-size-div" (click)="selectProductSize('XXL', 5)"> XXL </div>
                </div>

            </div>
            <div class="d-grid gap-2 mt-4">
                <button class="btn btn-success rounded-0" (click)="openCart()">Buy Now</button>
                <button class="btn btn-dark rounded-0">Learn More</button>
            </div>
            <div class="product-info mt-3">
                <div class="accordion accordion-flush" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                PRODUCT INFO
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show " aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">{{product.productInfo}} </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                RETURN & REFUND POLICY
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">{{product.returnPolicy}}</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                SHIPPING INFO
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">{{product.shippingInfo}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row  mt-5 mb-5">
        <h3 style="text-align: center;">Related Products</h3>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-10 related-products-slick">
            <div id="slick2" class="slick-2" data-slick='{"slidesToShow": 5, "slidesToScroll": 5}'>
                <div>
                    <div class="card " style="margin-left: 15px;margin-right: 15px;">
                        <img src="assets/images/home/home1.jpg" class="card-img" alt="...">
                    </div>
                </div>
                <div>
                    <div class="card " style="margin-left: 15px;margin-right: 15px;">
                        <img src="assets/images/home/home2.jpg" class="card-img" alt="...">
                    </div>
                </div>
                <div>
                    <div class="card " style="margin-left: 15px;margin-right: 15px;">
                        <img src="assets/images/home/home3.jpg" class="card-img" alt="...">
                    </div>
                </div>
                <div>
                    <div class="card " style="margin-left: 15px;margin-right: 15px;">
                        <img src="assets/images/home/home4.jpg" class="card-img" alt="...">
                    </div>
                </div>
                <div>
                    <div class="card " style="margin-left: 15px;margin-right: 15px;">
                        <img src="assets/images/home/home5.jpg" class="card-img" alt="...">
                    </div>
                </div>
                <div>
                    <div class="card " style="margin-left: 15px;margin-right: 15px;">
                        <img src="assets/images/home/home6.jpg" class="card-img" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="border: 4px solid gray; padding: 20px;">

    <div class="d-flex">
        <div class="flex-grow-1" style="border: 4px solid gray; padding: 15px; margin-right: 5px; height: 600px;">

        </div>
        <div class="flex-grow-1" style="border: 4px solid gray; padding: 15px;margin-left: 5px;">

            <table class="table table-dark table-striped table-responsive">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>