<div class="container-fluid">
    <div class="row dashboard dashboard-70vh home-wallpaper">
        <div class="caption d-none d-xl-block">
            <h1>ROLEX and RADO</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row dashboard__heading">
        <h2>BIGGEST DEALS ON TOP BRANDS</h2>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3" *ngFor="let brand of topBrands">
            <div class="product-card">
                <!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

                <div class="img-container">
                    <img src="{{brand.imgUrl}}">
                    <div class="overlay">
                        <p>Quick View</p>
                    </div>
                </div>
                <div class="product">
                    <p class="name">{{brand.name}}</p>
                    <p class="price">₹{{brand.price}}</p>
                </div>

            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row dashboard__heading">
        <h2>CATEGORIES TO BAG</h2>
    </div>
    <div class="row">
        <div class="col-2" *ngFor="let catgy of categoriesToBag">
            <div class="dashboard__card-rounded">
                <div class="dashboard__card-rounded-img">
                    <img src="{{catgy.imgUrl}}">
                </div>
                <div class="dashboard__card-rounded-name">
                    <p>{{catgy.name}}</p>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="container-fluid">
    <div class="row dashboard__heading">
        <h2>NINJA LUXURY</h2>
    </div>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-3">
        <div class="col" *ngFor="let catgy of categoriesToBag">
            <div class="dashboard__card-bordered">
                <div class="dashboard__card-bordered-img">
                    <img src="{{catgy.imgUrl}}">
                </div>
                <div class="dashboard__card-bordered-caption">
                    <div class="caption-icon">
                        <img src="assets/images/home/home2.jpg">
                    </div>
                    <div class="caption-title">{{catgy.name}}</div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="container-fluid">
    <div class="row dashboard__heading">
        <h2>TRENDING IN INDIAN WEAR</h2>
    </div>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-3 ">
        <div class="col " *ngFor="let catgy of categoriesToBag2">
            <div class="dashboard__card-trend">
                <div class="dashboard__card-trend-img">
                    <img src="{{catgy.imgUrl}}">
                    <div class="overlay">
                        Quick View
                    </div>
                </div>
                <div class="dashboard__card-trend-product">
                    <div class="name">{{catgy.name}}</div>
                    <div class="price">₹{{catgy.price}}</div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row dashboard__heading">
        <h2>TRENDING IN SPORTS WEAR</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="row dashboard__heading">
        <h2>TRENDING IN FOOTWEAR</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="row dashboard__heading">
        <h2>TRENDING IN ACCESSORIES</h2>
    </div>
</div>