
.cc-heading{
    h4{
        font-weight: 500;
        font-size: 1.4rem;
    }

    p{
        font-size: 1rem;
    }
}

.cc-issue-list{
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    h4{
        font-weight: 600;
        font-size: 1.2rem;
    }
}

