
.cc-heading{
    h4{
        font-weight: 500;
        font-size: 1.4rem;
    }

    p{
        font-size: 1rem;
    }
}

.cc-issue-list{
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    h4{
        font-weight: 600;
        font-size: 1.2rem;
    }
}


.help-center{
 
    padding: 15px 15px 50px 15px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;

    .cc-img{
        text-align: center;
    }

    .login-btn{
        text-align: center;
    }

}

.issues{
     padding: 15px 15px 50px 15px;
    box-shadow: 0 2px 1px 1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;

    .issue-item{
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 16px;
        margin: 0 -16px;
        border-bottom: 2px solid #f9f9f9;
        cursor: pointer;
        >div{
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        }

        svg{
                margin-left: auto;
        }

        &:hover{
            background-color: gray;
        }
    }
}
