<!---ammar--->
<div class="container">
    <div class="row ninja-layout">
        <div class="col-12 cc-heading">

            <h4>Ninja Store | 24x7 Customer Care Support </h4>
            <p>The Flipkart Help Centre page lists out various types of issues that you may have encountered
                so
                that there can be quick resolution and you can go back to shopping online.
                For example, you can get more information regarding order tracking, delivery date changes,
                help with returns (and refunds), and much more. The Flipkart Help Centre also lists out more
                information that you may need regarding Flipkart Plus, payment, shopping, and more. The page
                has various filters listed out on the left-hand side so that you can get your queries solved
                quickly, efficiently, and without a hassle. You can get the Flipkart Help Centre number or
                even access Flipkart Help Centre support if you need professional help regarding various
                topics. The support executive will ensure speedy assistance so that your shopping experience
                is positive and enjoyable. You can even inform your loved ones of the support page so that
                they can properly get their grievances addressed as well. Once you have all your queries
                addressed, you can pull out your shopping list and shop for all your essentials in one
                place. You can shop during festive sales to get your hands on some unbelievable deals
                online.
                This information is updated on 01-Dec-22
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-3 cc-issue-list">
            <h4>TYPE OF ISSUE</h4>
            <ul class="list-style-1">
                <li>
                    Help with your issues
                </li>
                <li>
                    Help with your order
                </li>
                <li>
                    Help with other issues
                </li>
            </ul>
            <hr>
            <h4>HELP TOPICS</h4>
            <ul class="list-style-1">
                <li>
                    Flipkart Plus
                </li>
                <li>
                    Order
                </li>
                <li>
                    Cancellations and Returns
                </li>
                <li>
                    Payment
                </li>
                <li>
                    Bajaj Finserv EMI
                </li>
            </ul>
        </div>
        <div class="col-9">
            <div class="row " style="height: 250px; background-color:red">

            </div>
            <div class="row mt-3" style="height: 250px; background-color:green">

            </div>
        </div>
    </div>

</div>