.error-message {
    display: block;
    width: 100%;
    color: red;
    font-size: 12px;
    height: 18px;
}

.required-asterisk {
    color: red;
    position: absolute;
    left: 28px;
    top: 0px;
    font-size: 1.2rem;
}