.bform-input .error-message {
    min-height: 25px;
}

.bform-input .error-message span {
    color: red;
    font-size: 13px;
    font-weight: 600;
}

.form-progress {
    height: 7px;
    border-radius: 0;
}

.signupForm__error-div{
    height: 25px;
}

.signupForm__error-div .signupForm__error-msg{
    color: red;
    font-size: 13px;
    font-weight: 600;
}