<div class="container-xxl">
    <div class="row justify-content-center" style="margin-top: 100px;">
        <div class="col-4">

            <form>
                <div class="progress form-progress" role="progressbar" aria-label="Default striped example"
                    aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped" style="width: 50%"></div>
                </div>
                <br>
                <div class="mb-3 bform-input">
                    <input type="text" class="form-control" id="branchName" placeholder="BRANCH NAME">
                    <div class="error-message">
                        <span id="branchNameCheck">
                            **Branch name is missing
                        </span>
                    </div>
                </div>
                <div class="mb-3 bform-input">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                    <div class="error-message">
                        <span id="nameCheck">
                            **Name is missing
                        </span>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="designation" placeholder="Designation">
                </div>
                <div class="mb-3 bform-input">
                    <input type="text" class="form-control" id="contactNo" placeholder="Contact No."
                        (keypress)="onlyNumberKey($event)">
                    <div class="error-message">
                        <span id="contactNoCheck">
                            **Contact No. is missing.
                        </span>
                        <span id="contactNoDigitCheck">
                            **Contact No. should be Only 10 digit.
                        </span>
                        <span id="onlyNumberCheck">
                            **Only numbers are allowed.
                        </span>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div>
                    <button type="submit" id="submitbtn" class="btn btn-primary mb-3">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>