<div class="container-xxl">
    <div class="row justify-content-center" style="margin-top: 100px;">
        <div class="col-4">
            <form>
                <div class="mb-3 bform-input">
                    <input type="text" class="form-control" id="branchName" placeholder="BRANCH NAME">
                    <div class="error-message">
                        <span id="branchNameCheck">
                            **Branch name is missing
                        </span>
                    </div>
                </div>
                <div class="mb-3 bform-input">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                    <div class="error-message">
                        <span id="nameCheck">
                            **Name is missing
                        </span>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="designation" placeholder="Designation">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="contactNo" placeholder="Contact No.">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div>
                    <button type="submit" id="submitbtn" class="btn btn-primary mb-3">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>