<br><br>
<div class="container-fluid " style="background-color:#232F3E ;">
    <div class="row">
        <button class="btn btn-info" style="radius: 0;" type="button">Back To Top </button>
    </div>


    <div class="row">
        <div class="col-3 discr" style="color: white;padding-left: 100px;  padding-right: 100px;">
            <h5><b> Get to Know Us</b></h5>
            <a href="#" class="card-link data">About us</a><br>
            <a href="#" class="card-link data">Careers</a><br>
            <a href="#" class="card-link data">Press Releases</a><br>
            <a href="#" class="card-link data">Ninja Science</a>
        </div>
        <div class="col-3 discr" style="color: white;padding-left: 100px;  padding-right: 100px;">
            <h5><b> Connect with Us</b></h5>
            <a href="#" class="card-link data">Facebook</a><br>
            <a href="#" class="card-link data">Twitter</a><br>
            <a href="#" class="card-link data">Instagra</a>
        </div>
        <div class="col-3 discr" style="color: white;padding-left: 100px;  padding-right: 100px;">
            <h5><b> Make Money with Us</b></h5>
            <a href="#" class="card-link data">Sell on Ninja</a><br>
            <a href="#" class="card-link data">Sell under Ninja Accelerator</a><br>
            <a href="#" class="card-link data">Ninja Global Selling</a><br>
            <a href="#" class="card-link data">Become an Affiliate</a><br>
            <a href="#" class="card-link data">Fulfilment by Ninja</a><br>
            <a href="#" class="card-link data">Advertise Your Products</a><br>
            <a href="#" class="card-link data">Ninja Pay on Merchants</a>
        </div>
        <div class="col-3 discr" style="color: white; padding-left: 100px;  padding-right: 100px;">
            <h5><b> Let Us Help You</b></h5>
            <a href="#" class="card-link data">COVID-19 and Ninja</a><br>
            <a href="#" class="card-link data">Your Account</a><br>
            <a href="#" class="card-link data">Returns Centre</a><br>
            <a href="#" class="card-link data">100% Purchase Protection</a><br>
            <a href="#" class="card-link data">Ninja App Download</a><br>
            <a href="#" class="card-link data">Ninja Assistant Download</a><br>
            <a href="#" class="card-link data">Help</a>
        </div>
    </div>

    <hr style="color: white;">
    <div class="row">
        <div class="col" style="text-align: right;">
            <img src="assets/images/home/home1.jpg" width="150px" height="50px">
        </div>
        <div class="col">
            <button class="btn btn-lg btn-outline btn-light" type="button">English </button>
        </div>
    </div>
    <div class="row">
        <div class="col country-list">
            <a href="#" class="card-link name">India</a>
            <a href="#" class="card-link name">USA</a>
            <a href="#" class="card-link name">China</a>
            <a href="#" class="card-link name">Japan</a>
            <a href="#" class="card-link name">Russia</a>
            <a href="#" class="card-link name">Qatar</a>
            <a href="#" class="card-link name">UAE</a>
        </div>
    </div>
    <!-- </div> -->
</div>

<div class="container-fluid " style="background-color: #131a22;">
    <div class="row" style="padding-left: 200px; padding-right: 200px;">
        <div class="col discr">
            <a href="#" class="card-link data">AbeBooks
                <p class="size">Books, art <br> & collectibles</p>
            </a>
        </div>
        <div class="col discr">
            <a href="#" class="card-link data">Ninja Web Services
                <p class="size">Scalable Cloud <br>Computing Services</p>
            </a>
        </div>
        <div class="col discr">
            <a href="#" class="card-link data">Audible
                <p class="size">Download <br>Audio Books</p>
            </a>
        </div>
        <div class="col discr">
            <a href="#" class="card-link data">DPReview
                <p class="size">Digital <br> Photography</p>
            </a>
        </div>
    </div>

    <div class="row" style="padding-left: 200px;  padding-right: 200px;">
        <div class="col discr">
            <a href="#" class="card-link data">Shopbop
                <p class="size">Designer <br> Fashion Brands</p>
            </a>
        </div>
        <div class="col discr">
            <a href="#" class="card-link data">Ninja Business
                <p class="size">Everything For <br>Your Business</p>
            </a>
        </div>
        <div class="col discr">
            <a href="#" class="card-link data">Prime Now
                <p class="size">2-Hour Delivery <br> on Everyday Items</p>
            </a>
        </div>
        <div class="col discr">
            <a href="#" class="card-link data">Ninja Prime Music
                <p class="size">90 million songs, ad-free <br> Over 15 million podcast episodes </p>
            </a>
        </div>
    </div>
    <div class="" style="text-align: center; margin-top: 10px; margin-bottom: 30px;">
        <a style="color:  #999; margin-right: 5px;">Conditions of Use & Sale </a>
        <a style="color:  #999; margin-right: 5px;">Privacy Notice</a>
        <a style="color:  #999; margin-right: 5px;">Interest-Based Ads</a>
        <p style="color:  #999;">© 1996-2022, Ninja.com, Inc. or its affiliates</p>
    </div>

</div>