<div class="container-fluid " style="background-color:#232F3E ;">
    <div class="row">
        <button class="btn btn-info" type="button">Back To Top </button>
    </div>


    <div class="row mt-3">
        <div class="col-6 col-lg-3 justify-content-center">
            <h5 class="text-white text-center">Get to Know Us</h5>
            <ul class="list-group footer-list">
                <li class="list-group-item ">
                    <a [routerLink]="['/about']" class="">About us</a>
                </li>
                <li class="list-group-item ">
                    <a [routerLink]="['/career']" class="card-link data">Careers</a>
                </li>
                <li class="list-group-item ">
                    <a [routerLink]="['/work-with-us']" class="card-link data">Work with us</a>
                </li>
                <li class="list-group-item ">
                    <a href="#" class="card-link data">Press Releases</a>
                </li>
                <li class="list-group-item ">
                    <a href="#" class="card-link data">Ninja Science</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-lg-3 ">
            <h5><b> Connect with Us</b></h5>
            <a href="#" class="card-link data">Facebook</a><br>
            <a href="#" class="card-link data">Twitter</a><br>
            <a href="#" class="card-link data">Instagram</a>
        </div>
        <div class="col-6 col-lg-3 ">
            <h5><b> Make Money with Us</b></h5>
            <a href="#" class="card-link data">Sell on Ninja</a><br>
            <a href="#" class="card-link data">Sell under Ninja Accelerator</a><br>
            <a href="#" class="card-link data">Ninja Global Selling</a><br>
            <a href="#" class="card-link data">Become an Affiliate</a><br>
            <a href="#" class="card-link data">Fulfilment by Ninja</a><br>
            <a href="#" class="card-link data">Advertise Your Products</a><br>
            <a href="#" class="card-link data">Ninja Pay on Merchants</a>
        </div>
        <div class="col-6 col-lg-3 discr" style="color: white; ">
            <h5><b> Let Us Help You</b></h5>
            <a href="#" class="card-link data">COVID-19 and Ninja</a><br>
            <a href="#" class="card-link data">Your Account</a><br>
            <a href="#" class="card-link data">Returns Centre</a><br>
            <a href="#" class="card-link data">100% Purchase Protection</a><br>
            <a href="#" class="card-link data">Ninja App Download</a><br>
            <a href="#" class="card-link data">Ninja Assistant Download</a><br>
            <a href="#" class="card-link data">Help</a>
        </div>
    </div>

    <hr style="color: white;">
    <div class="row">
        <div class="col" style="text-align: right;">
            <img src="assets/images/home/home1.jpg" width="150px" height="50px">
        </div>
        <div class="col">
            <button class="btn btn-lg btn-outline btn-light" type="button">English </button>
        </div>
    </div>
    <div class="row">
        <div class="col country-list">
            <a href="#" class="card-link name">India</a>
            <a href="#" class="card-link name">USA</a>
            <a href="#" class="card-link name">China</a>
            <a href="#" class="card-link name">Japan</a>
            <a href="#" class="card-link name">Russia</a>
            <a href="#" class="card-link name">Qatar</a>
            <a href="#" class="card-link name">UAE</a>
        </div>
    </div>
    <!-- </div> -->
</div>

<div class="container-fluid " style="background-color: #131a22; padding-bottom: 30px;">
    <div class="row" style="padding-left: 200px; padding-right: 200px;">
        <div class="col discr">
            <a href="#" class="card-link data">AbeBooks<br></a>
            <a href="#" class="card-link data pa">Books, art </a><br>
            <a href="#" class="card-link data pa">& collectibles</a>
        </div>
        <div class="col discr">
            <a href="#" class="card-link data">Ninja Web Services<br></a>
            <a href="#" class="card-link data pa">Scalable Cloud</a><br>
            <a href="#" class="card-link data pa">Computing Services</a>
        </div>
        <div class="col discr">
            <a href="#" class="card-link data">Audible <br></a>
            <a href="#" class="card-link data pa">Download</a><br>
            <a href="#" class="card-link data pa">Audio Books</a>
        </div>
        <div class="col discr">
            <a href="#" class="card-link data">DPReview<br></a>
            <a href="#" class="card-link data pa">Digital</a><br>
            <a href="#" class="card-link data pa">Photography</a>
        </div>
    </div>

    <div class="row" style="padding-left: 200px;  padding-right: 200px;">
        <div class="col discr">
            <a href="#" class="card-link data">Shopbop<br></a>
            <a href="#" class="card-link data pa">Designer</a><br>
            <a href="#" class="card-link data pa">Fashion Brands</a>
        </div>
        <div class="col discr">
            <a href="#" class="card-link data">Ninja Business<br></a>
            <a href="#" class="card-link data pa">Everything For</a><br>
            <a href="#" class="card-link data pa">Your Business</a>
        </div>
        <div class="col discr">
            <a href="#" class="card-link data">Prime Now<br></a>
            <a href="#" class="card-link data pa">2-Hour Delivery</a><br>
            <a href="#" class="card-link data pa">on Everyday Items</a>
        </div>
        <div class="col discr">
            <a href="#" class="card-link data">Ninja Prime Music<br> </a>
            <a href="#" class="card-link data pa">90 million songs, ad-free </a><br>
            <a href="#" class="card-link data pa"> Over 15 million podcast episodes</a>
        </div>
    </div>
    <div class="discr" style="text-align: center; margin-top: 20px;">
        <a href="#" class="card-link data" style="color:  #999; margin-right: 5px;">Conditions of Use & Sale </a>
        <a href="#" class="card-link data" style="color:  #999; margin-right: 5px;">Privacy Notice</a>
        <a href="#" class="card-link data" style="color:  #999; margin-right: 5px;">Interest-Based Ads</a>
        <p style="color:  #999;">© 1996-2022, Ninja.com, Inc. or its affiliates</p>
    </div>

</div>