<br><br>
<div class="container-fluid" style="background-color:#232F3E ;">
    <div class="row">
        <button class="btn btn-info" style="radius: 0;" type="button">Back To Top </button>
    </div>


    <div class="row">
        <div class="col-3" style="color: white;">
            <h5><b> Get to Know Us</b></h5>
            <a href="#" class="card-link">About us</a><br>
            <a href="#" class="card-link">Careers</a><br>
            <a href="#" class="card-link">Press Releases</a><br>
            <a href="#" class="card-link">Ninja Science</a>
        </div>
        <div class="col-3" style="color: white;">
            <h5><b> Connect with Us</b></h5>
            <a href="#" class="card-link">Facebook</a><br>
            <a href="#" class="card-link">Twitter</a><br>
            <a href="#" class="card-link">Instagra</a>
        </div>
        <div class="col-3" style="color: white;">
            <h5><b> Make Money with Us</b></h5>
            <a href="#" class="card-link">Sell on Ninja</a><br>
            <a href="#" class="card-link">Sell under Ninja Accelerator</a><br>
            <a href="#" class="card-link">Ninja Global Selling</a><br>
            <a href="#" class="card-link">Become an Affiliate</a><br>
            <a href="#" class="card-link">Fulfilment by Ninja</a><br>
            <a href="#" class="card-link">Advertise Your Products</a><br>
            <a href="#" class="card-link">Ninja Pay on Merchants</a>
        </div>
        <div class="col-3" style="color: white;">
            <h5><b> Let Us Help You</b></h5>
            <a href="#" class="card-link">COVID-19 and Ninja</a><br>
            <a href="#" class="card-link">Your Account</a><br>
            <a href="#" class="card-link">Returns Centre</a><br>
            <a href="#" class="card-link">100% Purchase Protection</a><br>
            <a href="#" class="card-link">Ninja App Download</a><br>
            <a href="#" class="card-link">Ninja Assistant Download</a><br>
            <a href="#" class="card-link">Help</a>
        </div>
    </div>

    <hr style="color: white;">
    <div class="row">
        <div class="col" style="text-align: right;">
            <img src="assets/images/home/home1.jpg" width="150px" height="50px">
        </div>
        <div class="col">
            <button class="btn btn-lg btn-outline btn-light" type="button">English </button>
        </div>
    </div>
    <div class="row">
        <div class="col country-list">
            <a href="#" class="card-link name">India</a>
            <a href="#" class="card-link name">USA</a>
            <a href="#" class="card-link name">China</a>
            <a href="#" class="card-link name">Japan</a>
            <a href="#" class="card-link name">Russia</a>
            <a href="#" class="card-link name">Qatar</a>
            <a href="#" class="card-link name">UAE</a>
        </div>
    </div>
    <!-- </div> -->
</div>

<div class="container-fluid " style="background-color: #131a22;">
    <div class="row" style="padding-left: 200px; padding-right: 200px;">
        <div class="col">
            <a href="#" class="card-link">AbeBooks
                Books, art
                & collectibles</a>
        </div>
        <div class="col">
            <a href="#" class="card-link">Amazon Web Services
                Scalable Cloud
                Computing Services</a>
        </div>
        <div class="col">
            <a href="#" class="card-link">Shopbop
                Designer
                Fashion Brands</a>
        </div>
        <div class="col">
            <a href="#" class="card-link">Amazon Business
                Everything For
                Your Business</a>
        </div>
    </div>

    <div class="row" style="padding-left: 200px;  padding-right: 200px;">
        <div class="col">
            <a href="#" class="card-link">AbeBooks
                Books, art
                & collectibles</a>
        </div>
        <div class="col">
            <a href="#" class="card-link">Amazon Web Services
                Scalable Cloud
                Computing Services</a>
        </div>
        <div class="col">
            <a href="#" class="card-link">Shopbop
                Designer
                Fashion Brands</a>
        </div>
        <div class="col">
            <a href="#" class="card-link">Amazon Business
                Everything For
                Your Business</a>
        </div>
    </div>

</div>