<!-- <p>order-detail works!</p> -->
<div class="container-fluid" style="background-color:rgb(240, 240, 240);">
    <div class="row">
        
        <div class="col mt-3">
            <div class="card" style="margin: 80px;padding: 10px;">
                <div class="card-body">
                  <h5 ><b>Delivery Address </b></h5>
                  <h6><b> Ratnakar Paswan</b></h6>
                  <p> Gate NO.3 post -bijnour Lucknow,  -<br> 226002, Uttar Pradesh</p>
                  <p><b>Phone number</b>  9755124466</p>
                </div>
            </div>
            <div class="card" style=" margin: 80px;padding: 10px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                          <img src="assets/images/order/home7.jpg" alt=".." width="100%" height="100%">
                        </div>
                        <div class="col-4">
                          <p>Pubg mobile screen guard</p>
                          <p style="font-size:10px;">Color: Transparent</p>
                          <p style="font-size:10px;">Seller: PUBG WALA</p>
                          <p>₹210</p>
                        </div>
                        <div class="col-4">
                          <p>Cancelled  </p>
                        </div>
                    </div>
                </div>
            </div>  

        </div>
        
    </div>

</div>
