.nbtn {
    background-color: initial;
    border: 0;
    color: inherit;
    cursor: pointer;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
}

.cart__action-btn {
    border-radius: 50%;
    padding: 4px 8px;
    transition: all 0.2s;

}

.cart__action-btn_success {
    background-color: var(--m-green);
    color: white;

    &:hover {
        background-color: var(--primary-bg);
    }
}

.cart__action-btn_danger {

    &:hover {
        color: white;
        background-color: var(--content-light-variant-5);
    }
}

.ninja__button-rounded{
    background-color: var(--m-green);
    color: white;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px !important;
    text-decoration: none;

    &:hover{
        color: white;
    }
}

.cart-button {
    background-color: var(--m-green);
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px !important;
}