.exec-card {

    .img-container {
        position: relative;

        img {
            border-radius: 8px;
            margin-top: -50px;
        }

        .overlay {
            position: absolute;
            bottom: 0;
            // background: rgb(0, 0, 0);
            background: rgba(var(--m-green-rgb), 0.5);
            /* Black see-through */
            color: #f1f1f1;
            width: 100%;
            transition: .5s ease;
            opacity: 0;
            font-size: 20px;
            padding: 10px 20px;
            text-align: center;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        &:hover .overlay {
            opacity: 1;
        }
    }
}

.product-card {


    .img-container {
        position: relative;

        img {
            width: 100%;
            height: 350px;
        }

        .overlay {
            position: absolute;
            bottom: 0;
            // background: rgb(0, 0, 0);
            background: rgba(var(--m-green-rgb), 0.5);
            /* Black see-through */
            color: #f1f1f1;
            width: 100%;
            transition: .5s ease;
            opacity: 0;
            font-size: 20px;
            padding: 10px 20px;
            text-align: center;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        &:hover .overlay {
            opacity: 1;
        }
    }

    .product {
        padding-top: 5px;

        .name,
        .price {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .name {
            margin-bottom: 0px;
        }

        .price {
            color: var(--m-green);
        }
    }
}