.h4, .h5, .h6, h4, h5, h6 {
    font-weight: 600;
}

.h5, h5 {
    font-size: 1.25rem;
    line-height: 1.375;
}

.flex-row-2{
    display: flex;
    >div {
        -ms-flex: 1;  /* IE 10 */  
        flex: 1;
    }
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 12px 8px;
    vertical-align: middle;
    border-color: #ddd;
    font-size: .875rem;
}