
.f-icon{
    color: white;
    background-color: var(--m-green-light);
}

.f-link{
    background-color: var(--m-gray);
}

.f-copyright{
    background-color: var(--m-gray-dark);
}

.country-list{
    text-align: center;
    padding: 15px 0;

    .name{
        text-decoration: none;
        margin-right: 15px;
        &:hover{
            text-decoration: underline;
        }
    }
   
}
.discr{
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: 0px;

    .data{
        text-decoration: none;
        margin-bottom: 15px;
        .size{
            font-size: 12px;
            color: #999;
        }
        &:hover{
            text-decoration: underline;
        }
    }
    .pa{
        font-size: 12px;
        color: #999;
    }
    
}

