
.f-icon{
    color: white;
    background-color: var(--m-green-light);
}

.f-link{
    background-color: var(--m-gray);
}

.f-copyright{
    background-color: var(--m-gray-dark);
}

.country-list{
    text-align: center;
    padding: 15px 0;

    .name{
        text-decoration: none;
        margin-right: 15px;
    }
}
.discr{
    padding: 10px 0;

    .data{
        text-decoration: none;
        margin-bottom: 15px;

    }
}
