.dashboard__heading{

    h2{
        font-weight: 600;
        margin-top: 50px;
        margin-bottom: 25px;
    }
}
.header__nav-dropdown-item{
   h6 {
        color: tomato;
        font-size: small;
    }

}