<!-- Block Element -  <div></div>, <h1></h1>, <p></p> -
Inline Element - <span></span>, <a></a>, <button></b> -->

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="ninja-card">

                <img src="assets/images/home/home1.jpg">
                <h2>My Card</h2>
                <p>loredjsdfh skdhgksj skhfkshdg kshdgksh ksdhffkshgd </p>
            </div>
        </div>
        <div class="col">
            <div class="ninja-card">

                <img src="assets/images/home/home1.jpg">
                <h2>My Card</h2>
                <p>loredjsdfh skdhgksj skhfkshdg kshdgksh ksdhffkshgd </p>
            </div>
        </div>
        <div class="col">
            <div class="ninja-card">

                <img src="assets/images/home/home1.jpg">
                <h2>My Card</h2>
                <p>loredjsdfh skdhgksj skhfkshdg kshdgksh ksdhffkshgd </p>
            </div>
        </div>
        <div class="col">
            <div class="ninja-card">

                <img src="assets/images/home/home1.jpg">
                <h2>My Card</h2>
                <p>loredjsdfh skdhgksj skhfkshdg kshdgksh ksdhffkshgd </p>
            </div>
        </div>
    </div>
</div>