
 .co{
    h4{
        color: #1a73e8;
    }
 }
 .center{
    display: flex;
    text-align: center;
    margin-left: 90px;
 }
 .heading{
   h2{
      color: #49a3f1;
      text-align: center;
      margin-top: 85px;
      
   }
   h5{
    text-align: center;
   }
   p{
      text-align: center;

      
      
   }
 }
 .Text{
margin-top: 85px;

line-height: 1.65;
 }
.input {
   margin-bottom: 100px;

 }
 .bottom{
   margin-left: 10px;
   margin-right: 10px;

 }
 .next{
   margin-top: 5px;
   margin-bottom: 5px;

 }

 




