<div class="container-fluid">
      <app-header></app-header>
      <div class="row">
            <div class="col abc">
                  <h4> we are providing you good serivce of education and good data strctures
                        and other computer science related courses</h4>


                  <img src="assets\accessories\laptop.jpg" width="100%" style="text-align:center ;border-radius:50px ">

            </div>
            <div class="col a">
                  <h3 style="text-align: center;margin-top: 10px;">who we are</h3>
                  <p style="color: orangered;">Lorem ipsum temporibus, provident dignissimos totam enim quaerat debitis
                        sint et</p>
                  <button type="button" class="btn btn-success">Read More</button>
            </div>
      </div>


</div>