<div class="container-fluid">
    <div class="row dashboard dashboard-70vh home-wallpaper">
        <div class="caption d-none d-xl-block">
            <h1>Nike and Adidas</h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row   ">
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">All</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Nike</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Adidas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Crocks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bata</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Flite</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sneakers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Puma</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Rebook</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Redtape</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container-xxl">
    <div class="row row-box ">
        <div class="col-3">
            <div class="product-card">
                <!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

                <div class="img-container">
                    <img src="assets/images/home/home4.jpg">
                    <div class="overlay">
                        <p>Quick View</p>
                    </div>
                </div>
                <div class="product">
                    <p class="name">Nike</p>
                    <p class="price">₹500</p>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="product-card">
                <!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

                <div class="img-container">
                    <img src="assets/images/home/home4.jpg">
                    <div class="overlay">
                        <p>Quick View</p>
                    </div>
                </div>
                <div class="product">
                    <p class="name">Nike</p>
                    <p class="price">₹500</p>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="product-card">
                <!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

                <div class="img-container">
                    <img src="assets/images/home/home4.jpg">
                    <div class="overlay">
                        <p>Quick View</p>
                    </div>
                </div>
                <div class="product">
                    <p class="name">Nike</p>
                    <p class="price">₹500</p>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="product-card">
                <!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

                <div class="img-container">
                    <img src="assets/images/home/home4.jpg">
                    <div class="overlay">
                        <p>Quick View</p>
                    </div>
                </div>
                <div class="product">
                    <p class="name">Nike</p>
                    <p class="price">₹500</p>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

            </ul>
        </nav>
    </div>
</div>



<div class="container-xxl">
    <div class="row row-box ">
        <div class="col-3">
            <div class="product-card">
                <!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

                <div class="img-container">
                    <img src="assets/images/home/home4.jpg">
                    <div class="overlay">
                        <p>Quick View</p>
                    </div>
                </div>
                <div class="product">
                    <p class="name">Nike</p>
                    <p class="price">₹500</p>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="product-card">
                <!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

                <div class="img-container">
                    <img src="assets/images/home/home4.jpg">
                    <div class="overlay">
                        <p>Quick View</p>
                    </div>
                </div>
                <div class="product">
                    <p class="name">Nike</p>
                    <p class="price">₹500</p>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="product-card">
                <!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

                <div class="img-container">
                    <img src="assets/images/home/home4.jpg">
                    <div class="overlay">
                        <p>Quick View</p>
                    </div>
                </div>
                <div class="product">
                    <p class="name">Nike</p>
                    <p class="price">₹500</p>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="product-card">
                <!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

                <div class="img-container">
                    <img src="assets/images/home/home4.jpg">
                    <div class="overlay">
                        <p>Quick View</p>
                    </div>
                </div>
                <div class="product">
                    <p class="name">Nike</p>
                    <p class="price">₹500</p>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

            </ul>
        </nav>
    </div>
</div>



<div class="container-xxl">
    <div class="row row-box ">
        <div class="col-3">
            <div class="product-card">
                <!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

                <div class="img-container">
                    <img src="assets/images/home/home4.jpg">
                    <div class="overlay">
                        <p>Quick View</p>
                    </div>
                </div>
                <div class="product">
                    <p class="name">Adidas</p>
                    <p class="price">₹500</p>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="product-card">
                <!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

                <div class="img-container">
                    <img src="assets/images/home/home4.jpg">
                    <div class="overlay">
                        <p>Quick View</p>
                    </div>
                </div>
                <div class="product">
                    <p class="name">Adidas</p>
                    <p class="price">₹500</p>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="product-card">
                <!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

                <div class="img-container">
                    <img src="assets/images/home/home4.jpg">
                    <div class="overlay">
                        <p>Quick View</p>
                    </div>
                </div>
                <div class="product">
                    <p class="name">Adidas</p>
                    <p class="price">₹500</p>
                </div>

            </div>
        </div>
        <div class="col-3">
            <div class="product-card">
                <!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

                <div class="img-container">
                    <img src="assets/images/home/home4.jpg">
                    <div class="overlay">
                        <p>Quick View</p>
                    </div>
                </div>
                <div class="product">
                    <p class="name">Adidas</p>
                    <p class="price">₹500</p>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>