<div class="container-fluid carousel-container">
	<div class="row">
		<div class="col">
            <div class="card-body">
                <h3>SHOPPING CART</h3>
                <div class="table">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">prducts</th>
                            <th scope="col">color</th>
                            <th scope="col">size</th>
                            <th scope="col">price</th>

                            <th scope="col">quantity</th>
                            <th scope="col">amount</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row"><img src="assets/images/cart/product1.jpg" ><a herf="#jacket">Spring Jacket</a></th>
                            <td>Red</td>
                            <td>M</td>
                            <td>250Rs</td>
                          </tr>
                          <tr>
                            <th scope="row"><img src="assets/images/cart/product2.jpg" ><a herf="#pant">Short Pants</a></th>
                            <td>Purple</td>
                            <td>M</td>
                            <td>460Rs</td>
                          </tr>
                          <tr>
                            <th scope="row"><img src="assets/images/cart/product3.jpg" ><a herf="#skirt">Pencil Skirt</a></th>
                            <td colspan="2">White</td>
                            <td>XL</td>
                            <td>700Rs</td>

                          </tr>
                        </tbody>
                      </table>
                </div>

            </div>
        </div>
    </div>
</div>