<div class="container mt-3">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <div class="bi bi-bell-fill">                   
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                      </svg>
                      <span>NOTIFICATION PREFERENCES</span>
                  </div>  
                  <div class="row">
                    <a class="dropdown-item" href="#">Desktop Notification</a>
                  </div>
                  <div class="row">
                     <a class="dropdown-item" href="#">in App Notification</a>
                  </div>
                  <div class="row">
                    <a class="dropdown-item" href="#">SMS</a>
                  </div>
                  <div class="row">
                    <a class="dropdown-item" href="#">Email</a>
                  </div>
                  <div class="row">
                    <a class="dropdown-item" href="#">WhatsApp</a>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-8">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                  <div>
                    <h6><b>Desktop Notifications</b></h6>
                  </div>
                  <div class="row mt-4">
                     <div class="col-6 " style="margin: bottom 10px;">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                            <label class="form-check-label" for="firstCheckbox">My Orders</label>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                          </li>
                          <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                            <label class="form-check-label" for="secondCheckbox">Reminders</label>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                          </li>
                          <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                            <label class="form-check-label" for="thirdCheckbox">Recommendatoins By Ninja</label>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                          </li>
                          <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                            <label class="form-check-label" for="firstCheckbox">New Offers</label>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                          </li>
                          <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                            <label class="form-check-label" for="secondCheckbox">My Ninja Cammunity</label>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                          </li>
                          <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                            <label class="form-check-label" for="thirdCheckbox">Feedback and Review</label>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                            </svg>
                          </li>
                        </ul>
                      </div>
                      <div class="col-6">
                        <div class="row">
                          <img src="assets/images/home/home8.jpg" alt="">
                        </div>
                        <div class="row mt-3">
                            <p style="font-size:80%; color:red; text-align: center;">Oops! You are missing out on a lot of important <br> notifications. Please switch it on from Browser Settings.
                              How to Unblock</p>
                        </div>
                        <div class="row mt-1 text-muted" >
                            <p style="text-align: center;"><b> How to unblock </b></p>
                        </div>
                        <div class="row"> 
                          <div class="col-4" style="text-align: right ;">                    
                             <img src="assets/images/loc.jpg" alt="" style="width: 20px; ; height: 20px;">
                          </div>
                          <div class="col-8" style="text-align: left ;" >
                             <p style="text-align: center;">> Notifications > Allow</p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
        </div>
    </div>
</div>
