<div class="container-fluid">
    <div class="row dashboard career-wallpaper">
        <div class="caption">
            <h4>Shopping Page</h4>

        </div>
    </div>

</div>
<div class="container">

    <div class="row mt-5 mb-5 justify-content-center">
        <div class="col-8">
            <div class="d-flex">
                <div>
                    <i class="bi bi-check2-circle"></i>
                </div>
                <div>
                    <p>Shopping Cart</p>
                </div>
                <div class="flex-grow-1">
                    <hr>
                </div>

                <div>
                    <i class="bi bi-check2-circle"></i>
                </div>
                <div>
                    <p>Checkout</p>
                </div>
                <div class="flex-grow-1">
                    <hr>
                </div>
                <div>
                    <i class="bi bi-check2-circle"></i>
                </div>
                <div>
                    <p>Review</p>
                </div>
            </div>
        </div>
    </div>


</div>
<div style="background-color: #f5f5f5;">
    <div class="container">
        <div class="row p-3">
            <p class="text-center mb-0">Free shipping applies if the order price reaches ₹499. Special products are not
                included</p>
        </div>
        <div class="row">

            <table class="table table-borderless cart__table-shopping">
                <thead>
                    <tr>
                        <th style="text-align: center;">
                            <i class="bi bi-check-circle-fill"
                                [ngClass]="{'cart__item-selected': (selectedItem.length === allItem.length)}"
                                style="font-size: 1.3rem;"></i>
                        </th>
                        <th></th>
                        <th scope="col">PRODUCT</th>
                        <th scope="col">COLOR</th>
                        <th scope="col">SIZE</th>
                        <th scope="col">PRICE</th>
                        <th scope="col">QTY</th>
                        <th scope="col">AMOUNT</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of allItem; index as i;">
                        <td style="text-align: center;">
                            <i class="bi bi-check-circle-fill cart__item cart__item-selected"
                                style="font-size: 1.3rem;"></i>
                        </td>
                        <td>
                            <div class="img-container">
                                <img src="{{item.imgUrl}}">
                            </div>
                        </td>
                        <td>
                            <div class="td-name">
                                <a href="">{{item.name}}</a><br>
                                <small>by {{item.brand}}</small>
                            </div>
                        </td>
                        <td>{{item.color}}</td>
                        <td>{{item.size}}</td>
                        <td>${{item.price}}</td>
                        <td>
                            <div class="d-flex">
                                <div>
                                    <div style="margin: 0; padding: 5px 10px;min-width: 50px;"> {{item.qty}}</div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-info btn-round btn-rounded-start "
                                        (click)="decrease(i)">
                                        <i class="bi bi-dash" style="font-size: 1.5rem;line-height: 0;"></i>
                                    </button>
                                    <button type="button" class="btn btn-info btn-round btn-rounded-end"
                                        (click)="increase(i)">
                                        <i class="bi bi-plus" style="font-size: 1.5rem;line-height: 0;"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                        <td>
                            $ {{item.price * item.qty}}
                        </td>
                        <td>
                            <button type="button" class="nbtn nicon-round i_light" (click)="removeItem(item, i)">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="cart__footer position-sticky bottom-0  bg-white">
    <div class="container ">
        <div class="d-flex align-items-center " style="height: 100%;">
            <button class="cart__footer-delete">Delete</button>
            <div class="cart__footer-selected">You have selected {{selectedItem.length}} item out of all
                {{allItem.length}} item</div>
            <div class="flex-grow-1"></div>
            <div class="cart__footer-total">
                <strong>Total : ₹ {{totalAmt}}</strong>
            </div>
            <button class="cart__footer-checkout">Check Out({{selectedItem.length}})</button>

        </div>
    </div>
</div>