<div class="container-fluid">
    <div class="row dashboard career-wallpaper">
        <div class="caption">
            <h4>Shopping Page</h4>

        </div>
    </div>
    <div class="row p-20">
        <div class="card main-content top-color">
            <div class="row mt-3">
                <h2>Shopping Cart</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">PRODUCT</th>
                            <th scope="col">COLOR</th>
                            <th scope="col">SIZE</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">QTY</th>
                            <th scope="col">AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="product">
                                    <div>
                                        <img src="assets/images/home/home1.jpg" width="100px" height="100px">
                                    </div>
                                    <div>
                                        <h5>Spring Jacket</h5>
                                        <p>by Dolce&Gabbana</p>
                                    </div>
                                </div>
                            </td>
                            <td>RED</td>
                            <td>M</td>
                            <td>$549</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" style="padding-left: 20px; padding-right: 20px;"
                                        class="btn btn-primary">-</button>
                                    <button type="button" class="btn btn-primary"
                                        style="padding-left: 20px; padding-right: 20px;">+</button>
                                </div>
                            </td>
                            <td>
                                <div class="flex-row-2">
                                    <div>$549</div>
                                    <div>
                                        <button type="button" class="btn btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product">
                                    <div>
                                        <img src="assets/images/home/home2.jpg" width="100px" height="100px">
                                    </div>
                                    <div>
                                        <h5>Spring Jacket</h5>
                                        <p>by Dolce&Gabbana</p>
                                    </div>
                                </div>
                            </td>
                            <td>RED</td>
                            <td>M</td>
                            <td>$549</td>
                            <td>
                                <button class="'btn btn-success">1</button>
                            </td>
                            <td>
                                $549 X
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="product">
                                    <div>
                                        <img src="assets/images/home/home3.jpg" width="100px" height="100px">
                                    </div>
                                    <div>
                                        <h5>Spring Jacket</h5>
                                        <p>by Dolce&Gabbana</p>
                                    </div>
                                </div>
                            </td>
                            <td>RED</td>
                            <td>M</td>
                            <td>$549</td>
                            <td>
                                <button class="'btn btn-success">1</button>
                            </td>
                            <td>
                                $549 X
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>