<div class="accordion accordion-flush pt-2" id="menLinkAccordion">
    <div class="accordion-item header__accordion-item ">
        <h2 class="accordion-header" id="flush-headingTopwear">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseTopwear" aria-expanded="false"
                aria-controls="flush-collapseTopwear">
                Topwear
            </button>
        </h2>
        <div id="flush-collapseTopwear" class="accordion-collapse collapse" aria-labelledby="flush-headingTopwear"
            data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">

                <ul class="navbar-nav">
                    <li class="nav-item ">
                        <a [routerLink]="'/men-wear'">Men's Wear</a>
                    </li>
                    <li><a [routerLink]="'/men-footwear'">Men FootWear</a>
                    </li>
                    <li class="nav-item "><a href="#">Women Ethnic</a>
                    </li>
                    <li class="nav-item "><a href="#">Women Western</a>
                    </li>


                    <li class="nav-item "><a href="#">Women Footwear</a>
                    </li>
                    <li class="nav-item ">
                        <a [routerLink]="'/watch-accessories'">Watches and Accessories</a>
                    </li>
                    <li class="nav-item "><a href="#">Bags, Suitcase &
                            Luggage</a>
                    </li>
                    <li class="nav-item "><a href="#">Kids</a></li>
                    <li class="nav-item "><a href="#">Winter</a></li>

                    <li class="nav-item ">
                        <hr class="dropdown-divider">
                    </li>
                    <li class="nav-item "><a href="#">Clothes</a></li>
                    <li class="nav-item "><a [routerLink]="'/order'">Orders</a></li>
                    <li class="nav-item "><a href="#">Wishlist</a></li>
                    <li class="nav-item "><a [routerLink]="'/signin'">Signin</a></li>

                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingIndianFestiveWear">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseIndianFestiveWear" aria-expanded="false"
                aria-controls="flush-collapseIndianFestiveWear">
                Indian & Festive Wear
            </button>
        </h2>
        <div id="flush-collapseIndianFestiveWear" class="accordion-collapse collapse"
            aria-labelledby="flush-headingIndianFestiveWear" data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <ul class="navbar-nav">
                    <li><a class="dropdown-item" [routerLink]="'/signup'">New customer? Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingBottomwear">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseBottomwear" aria-expanded="false"
                aria-controls="flush-collapseBottomwear">
                Bottomwear
            </button>
        </h2>
        <div id="flush-collapseBottomwear" class="accordion-collapse collapse" aria-labelledby="flush-headingBottomwear"
            data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <ul class="navbar-nav">
                    <li><a class="dropdown-item" [routerLink]="'/signup'">New customer? Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingInnerwearSleepwear">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseInnerwearSleepwear" aria-expanded="false"
                aria-controls="flush-collapseInnerwearSleepwear">
                Innerwear & Sleepwear
            </button>
        </h2>
        <div id="flush-collapseInnerwearSleepwear" class="accordion-collapse collapse"
            aria-labelledby="flush-headingInnerwearSleepwear" data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <ul class="navbar-nav">
                    <li><a class="dropdown-item" [routerLink]="'/signup'">New customer? Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingPlusSize">
            <button class="accordion-button collapsed header__accordion-item-button header__accordion-button-no-icon"
                type="button">
                Plus Size
            </button>
        </h2>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenFootwear">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseMenFootwear" aria-expanded="false"
                aria-controls="flush-collapseMenFootwear">
                Footwear
            </button>
        </h2>
        <div id="flush-collapseMenFootwear" class="accordion-collapse collapse"
            aria-labelledby="flush-headingMenFootwear" data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <ul class="navbar-nav">
                    <li><a class="dropdown-item" [routerLink]="'/signup'">New customer? Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenPersonalCare">
            <button class="accordion-button collapsed header__accordion-item-button header__accordion-button-no-icon"
                type="button">
                Personal Care & Grooming
            </button>
        </h2>

    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenSunglass">
            <button class="accordion-button collapsed header__accordion-item-button header__accordion-button-no-icon"
                type="button">
                Sunglasses & Frames
            </button>
        </h2>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenWatch">
            <button class="accordion-button header__accordion-item-button collapsed header__accordion-button-no-icon"
                type="button">
                Watches
            </button>
        </h2>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenSport">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseMenSport" aria-expanded="false"
                aria-controls="flush-collapsemenSport">
                Sports & Active Wear
            </button>
        </h2>
        <div id="flush-collapseSport" class="accordion-collapse collapse" aria-labelledby="flush-headingSport"
            data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <ul class="navbar-nav">
                    <li><a class="dropdown-item" [routerLink]="'/signup'">New customer? Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenGadget">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseMenGadget" aria-expanded="false"
                aria-controls="flush-collapseMenGadget">
                Gadgets
            </button>
        </h2>
        <div id="flush-collapseMenGadget" class="accordion-collapse collapse" aria-labelledby="flush-headingMenGadget"
            data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <ul class="navbar-nav">
                    <li><a class="dropdown-item" [routerLink]="'/signup'">New customer? Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenFashion">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseMenFashion" aria-expanded="false"
                aria-controls="flush-collapseMenFashion">
                Fashion Accessories
            </button>
        </h2>
        <div id="flush-collapseMenFashion" class="accordion-collapse collapse" aria-labelledby="flush-headingMenFashion"
            data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <ul class="navbar-nav">
                    <li>
                        <a>Wallets <button class="header__btn-coming-soon">C S</button></a>
                    </li>
                    <li>
                        <a>Belts <button class="header__btn-coming-soon">C S</button></a>
                    </li>
                    <li>
                        <a>Perfumes & Body Mists <button class="header__btn-coming-soon">C
                                S</button></a>
                    </li>
                    <li>
                        <a>Trimmers <button class="header__btn-coming-soon">C S</button></a>
                    </li>
                    <li>
                        <a>Deodorants <button class="header__btn-coming-soon">C S</button></a>
                    </li>
                    <li>
                        <a>Ties, Cufflinks & Pocket Squares <button class="header__btn-coming-soon">C S</button></a>
                    </li>
                    <li>
                        <a>Accessory Gift Sets <button class="header__btn-coming-soon">C
                                S</button></a>
                    </li>
                    <li>
                        <a>Mufflers, Scarves & Gloves <button class="header__btn-coming-soon">C
                                S</button></a>
                    </li>
                    <li>
                        <a>Phone Cases <button class="header__btn-coming-soon">C S</button></a>
                    </li>
                    <li>
                        <a>Rings & Wristwear <button class="header__btn-coming-soon">C
                                S</button></a>
                    </li>
                    <li>
                        <a>Helmets <button class="header__btn-coming-soon">C S</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenBag">
            <button class="accordion-button collapsed header__accordion-item-button header__accordion-button-no-icon"
                type="button">
                Bags & Backpacks
            </button>
        </h2>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenLuggage">
            <button class="accordion-button collapsed header__accordion-item-button header__accordion-button-no-icon"
                type="button">
                Luggages & Trolleys
            </button>
        </h2>
    </div>

</div>