<div class="accordion accordion-flush pt-2" id="menLinkAccordion">
    <div class="accordion-item header__accordion-item ">
        <h2 class="accordion-header" id="flush-headingTopwear">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseTopwear" aria-expanded="false"
                aria-controls="flush-collapseTopwear">
                Topwear
            </button>
        </h2>
        <div id="flush-collapseTopwear" class="accordion-collapse collapse" aria-labelledby="flush-headingTopwear"
            data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">

                <div class="header__accordion-item-link">
                    <a [routerLink]="['/men-tshirt']">T-Shirts</a>
                    <a [routerLink]="['/men-casual-shirt']">Casual Shirts</a>
                    <a [routerLink]="['/men-formal-shirt']">Formal Shirts</a>
                    <a [routerLink]="['/men-sweatshirt']">Sweatshirts </a>
                    <a [routerLink]="['/men-sweater']">Sweaters</a>
                    <a [routerLink]="['/men-jacket']">Jackets</a>
                    <a [routerLink]="['/men-blazer']">Blazers </a>
                    <a [routerLink]="['/men-suit']">Suits</a>
                    <a [routerLink]="['/men-rainjacket']">Rain Jackets</a>

                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingIndianFestiveWear">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseIndianFestiveWear" aria-expanded="false"
                aria-controls="flush-collapseIndianFestiveWear">
                Indian & Festive Wear
            </button>
        </h2>
        <div id="flush-collapseIndianFestiveWear" class="accordion-collapse collapse"
            aria-labelledby="flush-headingIndianFestiveWear" data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <div class="header__accordion-item-link">
                    <a [routerLink]="['/men-kurta']">Kurtas & Kurta Sets</a>
                    <a [routerLink]="['/men-sherwani']">Sherwanis</a>
                    <a>Nehru Jackets <button class="header__btn-coming-soon">C
                            S</button></a>
                    <a [routerLink]="['/men-dhoti']">Dhotis</a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingBottomwear">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseBottomwear" aria-expanded="false"
                aria-controls="flush-collapseBottomwear">
                Bottomwear
            </button>
        </h2>
        <div id="flush-collapseBottomwear" class="accordion-collapse collapse" aria-labelledby="flush-headingBottomwear"
            data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <div class="header__accordion-item-link">
                    <a [routerLink]="['/men-jeans']">Jeans</a>
                    <a [routerLink]="['/men-casual-trouser']">Casual Trousers</a>
                    <a [routerLink]="['/men-formal-trouser']">Formal Trousers</a>
                    <a>Shorts <button class="header__btn-coming-soon">C
                            S</button></a>
                    <a>Track Pants & Joggers <button class="header__btn-coming-soon">C
                            S</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingInnerwearSleepwear">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseInnerwearSleepwear" aria-expanded="false"
                aria-controls="flush-collapseInnerwearSleepwear">
                Innerwear & Sleepwear
            </button>
        </h2>
        <div id="flush-collapseInnerwearSleepwear" class="accordion-collapse collapse"
            aria-labelledby="flush-headingInnerwearSleepwear" data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <div class="header__accordion-item-link">
                    <a>Briefs & Trunks <button class="header__btn-coming-soon">C
                            S</button></a>
                    <a>Boxers <button class="header__btn-coming-soon">C S</button></a>
                    <a>Vests <button class="header__btn-coming-soon">C S</button></a>
                    <a>Sleepwear & Loungewear <button class="header__btn-coming-soon">C
                            S</button></a>
                    <a>Thermals <button class="header__btn-coming-soon">C S</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingPlusSize">
            <button class="accordion-button collapsed header__accordion-item-button header__accordion-button-no-icon"
                type="button">
                Plus Size
            </button>
        </h2>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenFootwear">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseMenFootwear" aria-expanded="false"
                aria-controls="flush-collapseMenFootwear">
                Footwear
            </button>
        </h2>
        <div id="flush-collapseMenFootwear" class="accordion-collapse collapse"
            aria-labelledby="flush-headingMenFootwear" data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <div class="header__accordion-item-link">
                    <a [routerLink]="['/men-casual-shoes']">Casual Shoes</a>
                    <a [routerLink]="['/men-sports-shoes']">Sports Shoes
                    </a>
                    <a [routerLink]="['/men-formal-shoes']">Formal Shoes</a>
                    <a>Sneakers <button class="header__btn-coming-soon">C S</button></a>
                    <a>Sandals & Floaters <button class="header__btn-coming-soon">C
                            S</button></a>
                    <a>Flip Flops <button class="header__btn-coming-soon">C S</button></a>
                    <a>Socks <button class="header__btn-coming-soon">C S</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenPersonalCare">
            <button class="accordion-button collapsed header__accordion-item-button header__accordion-button-no-icon"
                type="button">
                Personal Care & Grooming
            </button>
        </h2>

    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenSunglass">
            <button class="accordion-button collapsed header__accordion-item-button header__accordion-button-no-icon"
                type="button">
                Sunglasses & Frames
            </button>
        </h2>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenWatch">
            <button class="accordion-button header__accordion-item-button collapsed header__accordion-button-no-icon"
                type="button" [routerLink]="['/men-watch']">
                Watches
            </button>
        </h2>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenSport">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseMenSport" aria-expanded="false"
                aria-controls="flush-collapsemenSport">
                Sports & Active Wear
            </button>
        </h2>
        <div id="flush-collapseMenSport" class="accordion-collapse collapse" aria-labelledby="flush-headingMenSport"
            data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <div class="header__accordion-item-link">
                    <a>Sports Shoes <button class="header__btn-coming-soon">C S</button></a>
                    <a>Sports Sandals <button class="header__btn-coming-soon">C
                            S</button></a>
                    <a>Active T-Shirts <button class="header__btn-coming-soon">C
                            S</button></a>
                    <a>Track Pants & Shorts <button class="header__btn-coming-soon">C
                            S</button></a>
                    <a>Tracksuits <button class="header__btn-coming-soon">C S</button></a>
                    <a>Jackets & Sweatshirts <button class="header__btn-coming-soon">C
                            S</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingSportAccessories">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseSportAccessories" aria-expanded="false"
                aria-controls="flush-collapseSportAccessories">
                Sports Accessories
            </button>
        </h2>
        <div id="flush-collapseSportAccessories" class="accordion-collapse collapse"
            aria-labelledby="flush-headingSportAccessories" data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <div class="header__accordion-item-link">
                    <a>Swimwear <button class="header__btn-coming-soon">C S</button></a>
                    <a>Gadgets <button class="header__btn-coming-soon">C S</button></a>
                    <a>Smart Wearables <button class="header__btn-coming-soon">C
                            S</button></a>
                    <a>Fitness Gadgets <button class="header__btn-coming-soon">C
                            S</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenFashion">
            <button class="accordion-button collapsed header__accordion-item-button" type="button"
                data-bs-toggle="collapse" data-bs-target="#flush-collapseMenFashion" aria-expanded="false"
                aria-controls="flush-collapseMenFashion">
                Fashion Accessories
            </button>
        </h2>
        <div id="flush-collapseMenFashion" class="accordion-collapse collapse" aria-labelledby="flush-headingMenFashion"
            data-bs-parent="#menLinkAccordion">
            <div class="accordion-body">
                <div class="header__accordion-item-link">
                    <a>Wallets <button class="header__btn-coming-soon">C S</button></a>
                    <a>Belts <button class="header__btn-coming-soon">C S</button></a>
                    <a>Perfumes & Body Mists <button class="header__btn-coming-soon">C
                            S</button></a>
                    <a>Trimmers <button class="header__btn-coming-soon">C S</button></a>
                    <a>Deodorants <button class="header__btn-coming-soon">C S</button></a>
                    <a>Ties, Cufflinks & Pocket Squares <button class="header__btn-coming-soon">C S</button></a>
                    <a>Accessory Gift Sets <button class="header__btn-coming-soon">C
                            S</button></a>
                    <a>Mufflers, Scarves & Gloves <button class="header__btn-coming-soon">C
                            S</button></a>
                    <a>Phone Cases <button class="header__btn-coming-soon">C S</button></a>
                    <a>Rings & Wristwear <button class="header__btn-coming-soon">C
                            S</button></a>
                    <a>Helmets <button class="header__btn-coming-soon">C S</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenBag">
            <button class="accordion-button collapsed header__accordion-item-button header__accordion-button-no-icon"
                type="button">
                Bags & Backpacks
            </button>
        </h2>
    </div>

    <div class="accordion-item header__accordion-item">
        <h2 class="accordion-header" id="flush-headingMenLuggage">
            <button class="accordion-button collapsed header__accordion-item-button header__accordion-button-no-icon"
                type="button">
                Luggages & Trolleys
            </button>
        </h2>
    </div>

</div>