/* You can add global styles to this file, and also import other style files */


@import './styles/header';
@import './styles/footer';
@import './styles/login';
@import './styles/ninja-colors';
@import './styles/toolbar';
@import './styles/layout';
@import './styles/list';
@import './styles/cstm-care';
@import './styles/notification';
@import './styles/dashboard';
@import './styles/mar-pad';
@import './styles/common';
@import './styles/card';
@import './styles/slick';
@import './styles/home';




:root {
    --m-green: #0b8441;
    --m-green-rgb: 11, 132, 65;

    --m-green-light: #7ECA9C;
    --m-gray: #ECF0F3;
    --m-gray-dark: #BDBFC1;

    --m-blue: #0d6efd;
}