/* You can add global styles to this file, and also import other style files */


@import './styles/header';
@import './styles/footer';
@import './styles/login';
@import './styles/ninja-colors';
@import './styles/toolbar';
@import './styles/layout';
@import './styles/list';
@import './styles/cstm-care';
@import './styles/notification';
@import './styles/dashboard';
@import './styles/mar-pad';
@import './styles/common';
@import './styles/card';
@import './styles/slick';
@import './styles/home';
@import './styles/button';
@import './styles/icon';




:root {
    --m-green: #0b8441;
    --m-green-rgb: 11, 132, 65;
    --primary-bg: #245c4e;
    --m-danger: #e43c2f;
    --tertiary-bg: #f49a29;

    --m-green-light: #7ECA9C;
    --m-gray: #ECF0F3;
    --m-gray-dark: #BDBFC1;

    --m-blue: #0d6efd;

    --skeleton-color: #eee;
    --primary-base: #0b8441;

    --content-light: #757575;
    --content-light-variant: #757575;
    --content-light-variant-2: #757575;
    --content-light-variant-3: #999;
    --content-light-variant-4: #999;
    --content-light-variant-5: #ccc;

    --content-dark: #424242;
    --content-dark-variant: #333;
    --content-dark-variant-2: #424242;
    --content-dark-variant-3: #424242;
    --content-dark-variant-4: #333;
    --content-dark-variant-5: #333;

    --border-base: #ddd;
    --border-base-variant: #b0b0b0;
    --border-base-variant-2: #ddd;
    --border-base-variant-3: #ddd;
    --border-base-variant-4: #898989;
    --border-light: #eee;
    --border-light-variant: #eee;
    --border-light-variant-2: #eee;
    --border-light-variant-3: #e0e0e0;
    --border-light-variant-4: #e0e0e0;
    --border-light-variant-5: #e0e0e0;
    --border-light-variant-6: #f8f8f8;
    --border-dark: #424242;
    --border-dark-variant: #191919;
    --border-input: #b0b0b0;
    --border-gray: #dbdbdb;
    --border-loading-button: #ccc;
    --border-disabled-button: #ddd;
    --border-primary: #ff6700;
    --border-primary-variant: #ff6700;
    --border-primary-variant-2: #ff6700;
    --border-primary-a20: rgba(255, 103, 0, 0.2);
    --border-secondary: #212121;
    --border-record: #83c44e;

    --background-base: #f5f5f5;
    --background-base-variant: #f9f9fa;
    --background-base-variant-2: #f9f9fa;
    --background-base-variant-3: #f9f9fa;
    --background-base-variant-4: #f5f5f5;
    --background-base-variant-5: #f9f9fa;
    --background-base-variant-6: #f7f7f7;
    --background-light: #fff;
}

.primary-color {
    color: var(--primary-base);
}

.select__product-white-color {
    background-color: white;
}

.select__product-black-color {
    background-color: black;
}

.select__product-red-color {
    background-color: red;
}

.select__product-green-color {
    background-color: green;
}

.select__product-blue-color {
    background-color: blue;
}

.select__product-blueviolet-color {
    background-color: blueviolet;
}

.select__product-beige-color {
    background-color: beige;
}

.select__product-fuchsia-color {
    background-color: fuchsia;
}

.select__product-yellow-color {
    background-color: yellow;
}

.select__product-brown-color {
    background-color: brown;
}