<div class="container-fluid">
	<div class="row dashboard home-wallpaper">
		<div class="caption d-none d-xl-block">
			<div class="container">
				<div class="slick-1" data-slick='{"slidesToShow": 5, "slidesToScroll": 5}'>
					<div>
						<div class="card " style="margin-left: 15px;margin-right: 15px;">
							<img src="assets/images/home/home1.jpg" class="card-img" alt="...">
						</div>
					</div>
					<div>
						<div class="card " style="margin-left: 15px;margin-right: 15px;">
							<img src="assets/images/home/home2.jpg" class="card-img" alt="...">
						</div>
					</div>
					<div>
						<div class="card " style="margin-left: 15px;margin-right: 15px;">
							<img src="assets/images/home/home3.jpg" class="card-img" alt="...">
						</div>
					</div>
					<div>
						<div class="card " style="margin-left: 15px;margin-right: 15px;">
							<img src="assets/images/home/home4.jpg" class="card-img" alt="...">
						</div>
					</div>
					<div>
						<div class="card " style="margin-left: 15px;margin-right: 15px;">
							<img src="assets/images/home/home5.jpg" class="card-img" alt="...">
						</div>
					</div>
					<div>
						<div class="card " style="margin-left: 15px;margin-right: 15px;">
							<img src="assets/images/home/home6.jpg" class="card-img" alt="...">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="container-fluid">
	<div class="row d-block d-xl-none">
		<div class="slick-1" data-slick='{"slidesToShow": 3, "slidesToScroll": 3}'>
			<div>
				<div class="card " style="margin-left: 15px;margin-right: 15px;">
					<img src="assets/images/home/home1.jpg" class="card-img" alt="...">
				</div>
			</div>
			<div>
				<div class="card " style="margin-left: 15px;margin-right: 15px;">
					<img src="assets/images/home/home2.jpg" class="card-img" alt="...">
				</div>
			</div>
			<div>
				<div class="card " style="margin-left: 15px;margin-right: 15px;">
					<img src="assets/images/home/home3.jpg" class="card-img" alt="...">
				</div>
			</div>
			<div>
				<div class="card " style="margin-left: 15px;margin-right: 15px;">
					<img src="assets/images/home/home4.jpg" class="card-img" alt="...">
				</div>
			</div>
			<div>
				<div class="card " style="margin-left: 15px;margin-right: 15px;">
					<img src="assets/images/home/home5.jpg" class="card-img" alt="...">
				</div>
			</div>
			<div>
				<div class="card " style="margin-left: 15px;margin-right: 15px;">
					<img src="assets/images/home/home6.jpg" class="card-img" alt="...">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row row-box home__discount ">
		<h1>25% DISCOUNT</h1>
		<p>ON ORDERS BEFORE CHRISTMAS USE COUPON CODE DEC25</p>
		<div class="home__discount-btn">
			<button>Shop Women</button>
			<button>Shop Men</button>
			<button>Shop Kids</button>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row row-box home__new-arrivals">
		<h1>NEW ARRIVALS</h1>
	</div>
</div>

<div class="container-xxl">
	<div class="row category">
		<h3>Women's Wear</h3>
	</div>
	<div class="row">
		<div class="col-12 col-sm-6 col-lg-4 col-xxl-3" *ngFor="let product of latestWomenWear">
			<div class="product-card" (click)="viewProduct(product)">
				<!-- <div class="product-card" target="_blank" [routerLink]="['/select-product/', product.sku]"> -->

				<div class="img-container">
					<img src="{{product.imgUrl}}">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div class="product">
					<p class="name">{{product.name}}</p>
					<p class="price">₹{{product.price}}</p>
				</div>

			</div>
		</div>

	</div>

</div>

<div class="container ">
	<div class="row category mt-5">
		<h3>Men's Wear</h3>
	</div>
	<div class="row">

		<div class="col-12 col-sm-6 col-lg-4 col-xxl-3" *ngFor="let productInfo of latestMenWear">
			<div class="product-card" (click)="viewProduct(productInfo)">
				<div class="img-container">
					<img src="{{productInfo.imgUrl}}">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div class="product">
					<p class="name">{{productInfo.name}}</p>
					<p class="price">₹{{productInfo.price}}</p>
				</div>

			</div>
		</div>

	</div>

</div>

<div class="container ">
	<div class="row category mt-5">
		<h3>Kid's Wear</h3>
	</div>
	<div class="row">
		<div class="col-12 col-sm-6 col-lg-4 col-xxl-3" *ngFor="let productInfo of latestKidWear">
			<div class="product-card">
				<div class="img-container">
					<img src="{{productInfo.imgUrl}}">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div class="product">
					<p class="name">{{productInfo.name}}</p>
					<p class="price">₹{{productInfo.price}}</p>
				</div>

			</div>
		</div>
	</div>

</div>

<div class="container ">
	<div class="row category mt-5">
		<h3>Women's Footwear</h3>
	</div>
	<div class="row g-5">

		<div class="col-12 col-sm-6 col-lg-4 col-xxl-3" *ngFor="let productInfo of latestWomenFootWear">
			<div class="product-card">
				<div class="img-container">
					<img src="{{productInfo.imgUrl}}">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div class="product">
					<p class="name">{{productInfo.name}}</p>
					<p class="price">{{productInfo.price}}</p>
				</div>

			</div>
		</div>
		
		
		
	</div>

</div>

<div class="container ">
	<div class="row category mt-5">
		<h3>Men's Footwear</h3>
	</div>
	<div class="row g-5">

		<div class="col-12 col-sm-6 col-lg-4 col-xxl-3" *ngfor=" let productInfo of latestMenFootWear">
			<div class="product-card">
				<div class="img-container">
					<img src="{{productInfo.imgUrl}}">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div class="product">
					<p class="name">{{productInfo.name}}</p>
					<p class="price">{{productInfo.price}}</p>
				</div>
			

			</div>
		</div>
	
		
	
	</div>

</div>

<div class="container ">
	<div class="row category mt-5">
		<h3>Watches & Accessories</h3>
	</div>
	<div class="row g-5">

		<div class="col-12 col-sm-6 col-lg-4 col-xxl-3" *ngfor="let productInfo of latestWatchAccesories">
			<div class="product-card">
				<div class="img-container">
					<img src="{{productInfo.imgUrl}}">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div class="product">
					<p class="name">{{productInfo.name}}</p>
					<p class="price">{{productInfo.price}}</p>
				</div>

			</div>
		</div>
	
	</div>

</div>


<!-- <div class="container-fluid carousel-container">
	<div class="row">
		<div class="col">
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
						class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
						aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
						aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">

					<div class="carousel-item active">
						<img src="assets/images/b2.jpg" class="d-block w-100" height="100%" alt="...">
					</div>
					<div class="carousel-item">
						<img src="assets/images/b1.jpg" class="d-block w-100" height="100%" alt="...">
					</div>
					<div class="carousel-item">
						<img src="assets/images/b3.jpg" class="d-block w-100" height="100%" alt="...">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
</div> -->