<div class="container-fluid">
	<div class="row dashboard home-wallpaper">
		<div class="caption ">
			<div class="container">
				<div class="slick-1" data-slick='{"slidesToShow": 5, "slidesToScroll": 5}'>
					<div>
						<div class="card " style="margin-left: 15px;margin-right: 15px;">
							<img src="assets/images/home/home1.jpg" class="card-img" alt="...">
						</div>
					</div>
					<div>
						<div class="card " style="margin-left: 15px;margin-right: 15px;">
							<img src="assets/images/home/home2.jpg" class="card-img" alt="...">
						</div>
					</div>
					<div>
						<div class="card " style="margin-left: 15px;margin-right: 15px;">
							<img src="assets/images/home/home3.jpg" class="card-img" alt="...">
						</div>
					</div>
					<div>
						<div class="card " style="margin-left: 15px;margin-right: 15px;">
							<img src="assets/images/home/home4.jpg" class="card-img" alt="...">
						</div>
					</div>
					<div>
						<div class="card " style="margin-left: 15px;margin-right: 15px;">
							<img src="assets/images/home/home5.jpg" class="card-img" alt="...">
						</div>
					</div>
					<div>
						<div class="card " style="margin-left: 15px;margin-right: 15px;">
							<img src="assets/images/home/home6.jpg" class="card-img" alt="...">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="container-fluid">
	<div class="row discount">
		<h1>25% DISCOUNT</h1>
		<p>ON ORDERS BEFORE CHRISTMAS - USE COUPON CODE DEC25</p>
		<div class="discount-btn mt-4">
			<button>Shop Women</button>
			<button>Shop Men</button>
			<button>Shop Kids</button>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row new-arrivals">
		<h1>NEW ARRIVALS</h1>
	</div>
</div>

<div class="container">
	<div class="row category">
		<h3>Womens Clothing</h3>
	</div>
	<div class="row g-5">

		<div class="col">
			<div class="product-card">
				<div class="img-container" (click)="openCheckoutPage()">
					<img src="assets/images/home/home1.jpg">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div class="product">
					<p class="name">I'm a product</p>
					<p class="price">$500.00</p>
				</div>

			</div>
		</div>
		<div class="col">
			<div class="product-card">
				<div class="img-container">
					<img src="assets/images/home/home2.jpg">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div>
					<p>I'm a product</p>
					<p>$500.00</p>
				</div>

			</div>
		</div>
		<div class="col">
			<div class="product-card">
				<div class="img-container">
					<img src="assets/images/home/home6.jpg">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div>
					<p>I'm a product</p>
					<p>$500.00</p>
				</div>

			</div>
		</div>
		<div class="col">
			<div class="product-card">
				<div class="img-container">
					<img src="assets/images/home/home4.jpg">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div>
					<p>I'm a product</p>
					<p>$500.00</p>
				</div>

			</div>
		</div>
	</div>

</div>

<div class="container">
	<div class="row category">
		<h3>Mens Clothing</h3>
	</div>
	<div class="row g-5">

		<div class="col">
			<div class="product-card">
				<div class="img-container">
					<img src="assets/images/home/home1.jpg">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div class="product">
					<p class="name">I'm a product</p>
					<p class="price">$500.00</p>
				</div>

			</div>
		</div>
		<div class="col">
			<div class="product-card">
				<div class="img-container">
					<img src="assets/images/home/home2.jpg">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div>
					<p>I'm a product</p>
					<p>$500.00</p>
				</div>

			</div>
		</div>
		<div class="col">
			<div class="product-card">
				<div class="img-container">
					<img src="assets/images/home/home6.jpg">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div>
					<p>I'm a product</p>
					<p>$500.00</p>
				</div>

			</div>
		</div>
		<div class="col">
			<div class="product-card">
				<div class="img-container">
					<img src="assets/images/home/home4.jpg">
					<div class="overlay">
						<p>Quick View</p>
					</div>
				</div>
				<div>
					<p>I'm a product</p>
					<p>$500.00</p>
				</div>

			</div>
		</div>
	</div>

</div>


<!-- <div class="container-fluid carousel-container">
	<div class="row">
		<div class="col">
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
						class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
						aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
						aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">

					<div class="carousel-item active">
						<img src="assets/images/b2.jpg" class="d-block w-100" height="100%" alt="...">
					</div>
					<div class="carousel-item">
						<img src="assets/images/b1.jpg" class="d-block w-100" height="100%" alt="...">
					</div>
					<div class="carousel-item">
						<img src="assets/images/b3.jpg" class="d-block w-100" height="100%" alt="...">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
</div> -->