<div class="container-fluid carousel-container">
  <div class="row">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

        <div class="carousel-inner ">

          <div class="carousel-item active">
            <img src="assets/images/b2.jpg" class="d-block w-100" height="800px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/b1.jpg" class="d-block w-100" height="800px" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/images/b3.jpg" class="d-block w-100" height="800px" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid " style="background-color: rgb(240,240,240);">
  <div class="row">
    <!-- Ratnakar -->
    <div class="col-3">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <div>
            <h5><b> Redefine your living room </b></h5>
          </div>
          <div class="row">
            <div class="col-6">
              <div>
                <img src="assets/images/home/home1.jpg" alt="Sofa" width="100%">
              </div>
              <div>
                <p style="font-size:80%;">Sofa cum beds</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets/images/home/home2.jpg" alt="chair and table" width="100%">
              </div>
              <div>
                <p style="font-size: 80%;">Office chairs and tables</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets/images/home/home3.jpg" alt="Sofa" width="100%">
              </div>
              <div>
                <p style="font-size:80%;">Bean bags</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets/images/home/home4.jpg" alt="Sofa" width="100%">
              </div>
              <div>
                <p style="font-size:80%;">Explore all</p>
              </div>
            </div>
          </div>
          <div>
            <a href="#" class="card-link">Visit our Furniture store</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <div>
            <h5><b>Professional tools & instruments</b></h5>
          </div>
          <div class="row">
            <div class="col-6">
              <div>
                <img src="assets/images/home/home5.jpg" alt="tool" width="100%">
              </div>
              <div>
                <p style="font-size:80%;">Professional tools</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets/images/home/home6.jpg" alt="tool" width="100%">
              </div>
              <div>
                <p style="font-size: 80%;">measuring tools</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets/images/home/home7.jpg" alt="tool" width="100%">
              </div>
              <div>
                <p style="font-size:80%;">tool box</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets/images/home/home8.jpg" alt="tool" width="100%">
              </div>
              <div>
                <p style="font-size:80%;">Explore all</p>
              </div>
            </div>
          </div>
          <div>
            <a href="#" class="card-link">See more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <div>
            <h5><b>Styles and Accessories for Women </b></h5>
          </div>
          <div class="row">
            <div class="col-6">
              <div>
                <img src="assets/images/home/home9.jpg" alt="cloth" width="100%">
              </div>
              <div>
                <p style="font-size:80%;">Women's Clothing</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets/images/home/home10.jpg" alt="Footweare" width="100%">
              </div>
              <div>
                <p style="font-size: 80%;">Footwears</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets/images/home/home11.jpg" alt="watch" width="100%">
              </div>
              <div>
                <p style="font-size:80%;">Watches</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets/images/home/home12.jpg" alt="jewelry" width="100%">
              </div>
              <div>
                <p style="font-size:80%;">Fashion Jewelry</p>
              </div>
            </div>
          </div>
          <div>
            <a href="#" class="card-link">See more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 ">
      <div class="card mb-2">
        <div class="card-body">
          <h6 class="card-title"><b> Sign in for your best <br> experience </b></h6>
          <div class=" d-grid">
            <button class="btn btn-info" type="button">Sign in Securely</button>
          </div>
        </div>
      </div>
      <div>
        <div>
          <img src="assets/images/home/home13.jpg" alt="tool" width="100%">
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <!---suhail-->

<div class="container-fluid " style="background-color: rgb(240,240,240);">
  <div class="row">
     <div class="col-3">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <div>
            <h5><b> sport sereis</b></h5>
          </div>
          <div class="row">
            <div class="col-6">
              <div>
                <img src="assets\accessories\ball.jpg" alt="ball" width="80%">
              </div>
              <div>
                <p style="font-size:80%;">ball</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets\accessories\bat .jpg" alt="bat" width="70%">
              </div>
              <div>
                <p style="font-size: 80%;">bat</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets\accessories\helmet.jpg" alt="helmet" width="100%">
              </div>
              <div>
                <p style="font-size:80%;">helmet</p>
              </div>
            </div>
            <div class="col-6">
                <div>
                  <img src="assets\accessories\pad.jpg" alt=" Batting pads" width="70%">
                </div>
                <div>
                  <p style="font-size:80% ;"> Batting pads</p>
                </div>
            </div>
          </div>
          <div>
            <a href="#" class="card-link">See more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <div>
            <h5><b>gadgets</b></h5>
          </div>
          <div class="row">
            <div class="col-6">
              <div>
                <img src="assets\accessories\mobile.jpg" alt="ball" width="70">
              </div>
              <div>
                <p style="font-size:80%;">mobile</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets\accessories\laptop.jpg" alt="laptop" width="80%">
              </div>
              <div>
                <p style="font-size: 80%;">laptop</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets\accessories\desktop.jpg" alt="desktop" width="100%">
              </div>
              <div>
                <p style="font-size:80%;">desktop</p>
              </div>
            </div>
            <div class="col-6">
                <div>
                  <img src="assets\accessories\tab.jpg" alt="tab" width="70%">
                </div>
                <div>
                  <p style="font-size:80% ;">tab</p>
                </div>
                <div>
                  <a href="#" class="card-link">visit our gallery</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 100%;">
        <div class="card-body">
          <div>
            <h5><b>vehicle</b></h5>
          </div>
          <div class="row">
            <div class="col-6">
              <div>
                <img src="assets\accessories\bike.jpg" alt="bike" width="80%">
              </div>
              <div>
                <p style="font-size:80%;">bike</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets\accessories\car.jpg" alt="car" width="80%">
              </div>
              <div>
                <p style="font-size: 80%;">car</p>
              </div>
            </div>
            <div class="col-6">
              <div>
                <img src="assets\accessories\scoter.jpg" alt="scooter" width="100%">
              </div>
              <div>
                <p style="font-size:80%;">scooter</p>
              </div>
            </div>
            <div class="col-6">
                <div>
                  <img src="assets\accessories\cycle.jpg" alt="cycle" width="70%">
                </div>
                <div>
                  <p style="font-size:80% ;">cycle</p>
                </div>
                <div>
                  <a href="#" class="card-link">See more</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="col-3 ">
      <div class="card mb-2">
        <div class="card-body">
          <h6 class="card-title"><b> Sign in for your best <br> experience </b></h6>
          <div class=" d-grid">
            <button class="btn btn-info" type="button">Sign in Securely</button>
          </div>
        </div>
      </div>
    </div>


    
  </div>

</div>


  
  
    
      
    
  


    

    