<div class="container-fluid">
    <div class="row page-not-found">
        <div class="col left">
            <img src="assets/images/1.jpg" width="250px" height="200px" alt="">
        </div>
        <div class="col right">
            <p class="fnf">404</p>
            <h1>UH OH! You're lost.</h1>
            <p class="desc">The page you are looking for does not exist. How you got here is a mystery.
                <br> But you can click the button below to go back to the homepage.
            </p>
            <button class="btn btn-success">HOME</button>
        </div>
    </div>
</div>