.page-not-found{
    .left{
        img{
            width: 100%;
            height: auto;
        }
    }

    .right{
        .fnf{
            font-size: 8rem;
            font-weight: 600;
        }
    }
}